@mixin _1024 {
  @media (min-width: 1024px){
      @content;
  }
}

@mixin _1023 {
  @media (max-width: 1023px){
      @content;
  }
}

@mixin _768 {
  @media (min-width: 768px){
      @content;
  }
}

@mixin _480 {
  @media (min-width: 480px){
      @content;
  }
}

@mixin _320{
  @media (min-width: 320px){
      @content;
  }
}